<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">  
        
        <div class="row">
          <p class="col-md-4"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{site.phone}}</p>
          <p class="col-md-4"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
          <p class="col-md-4"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> {{site.address}}</p>
        </div-->
      
      </div><!--col-md-8-->
    </div><!--row-->
  </div><!--container-->
</footer><!-- #colophon -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>