<a class="sr-only" href="#content">Skip to content</a>

<span itemscope itemtype="http://schema.org/LocalBusiness">
<header class="navbar navbar-default navbar-static-top">

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        
          <a itemprop="url" class="brand" href="/" rel="home"><span itemprop="name">{{site.title}}</span></a>

          <nav class="main-nav">
            <a class="pull-right" href="/about">About</a>
          </nav>
      
      </div><!--col-md-8--> 
    </div><!--row-->
  </div><!-- .container -->

</header><!-- .header -->