/* General Classes */

.btn {
    background-color: $blue;
}

.page-header {
    margin-top: 20px;
}

/* Navbar styles
-------------------------------------------------- */
.navbar {
  background-color: $blue;
  border-bottom: 1px solid $dark-blue;

  a {
    color: white !important;
    &:hover {
      color: $light-grey !important;
      text-decoration: none;
    }
  }

}

.main-nav {
    height: 50px;
    padding: 15px 0 15px 15px;
    line-height: 20px;
}

.brand {
  font-family: $header-font-family;
  float: left;
  height: 50px;
  padding: 15px 15px 15px 0;
  font-size: 18px;
  line-height: 20px;     
}

/* Footer */
.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  /* Set the fixed height of the footer here */
  min-height: 70px;
  background-color: $blue;
  color: white;

  a {
    color: white;
  }
  time {
    margin-bottom: 10px;
    display: block;
  }
}

/* Home Page */

.banner {
    background-color: $light-blue;
    margin-bottom: 20px;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;

    .btn {
      border-color: white;
      background-color: white;
      color: $blue;
      
      &:active {
        background-color: white;
        border-color: $light-grey;
        color: $dark-blue;
      }
    }
}

/*
.banner .btn:hover {
    color: #f2ea79;
    background-color: #333;
}
*/
.banner h1 {
    font-size: 58px;
    color: $yellow;
}
.banner p {
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 15px;
}

.site-header a {
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.site-header .logo {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    float: left;
    line-height: 1.1;
}

.specialties {
  margin-top: 40px;
}

.price {
  font-size: 50px;
  font-family: $header-font-family;

  sup {
    font-size: 10px;
    top: -27px;
  }
}

/* Page Styles */
.post {
    font-size: 16px;

    img {
      margin-bottom: 20px;
    }
}